<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<%- include('partials/messages'); %>
<a href="/viewreports" class="btn btn-secondary">View Reports</a>
<form action="/dashboard" method="POST" enctype="multipart/form-data">
  <input type="text" name="patientname" value="" placeholder="Enter Patient Name" autocomplete="off">
  <input type="number" name="age" value="" placeholder="Enter Patient's age">
  <label for="gender">Gender:</label>
  <select name="gender" id="gender">
   <option value="male">M</option>
   <option value="female">F</option>
   <option value="other">O</option>
  </select>
  <input type="file" name="xray"></input>
  <br>
  <button class="btn btn-secondary" type="submit" name="button">Next</button>
</form>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
