<h1 class="mt-4">Report Generated</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<embed src="<%= flnm %>.pdf" width="800px" height="800px" />
<a href="/finish" class="btn btn-secondary">Finish</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
