<div class="form-getreport">

<h1 class="mt-4" style="padding-left: 50; display: inline;">Generated Report</h1>
<p></p>
<embed src="<%= flnm %>.pdf" width="800px" height="600px" />
<a href="/finish"><button style="margin:15px;background-color: #4dff4dd2;" class="btn btn-secondary">Save</button></a>
<a href="/dashboard"><button style="margin:11px;" class="btn btn-secondary">Back</button></a>
<a href="/users/logout"><button class="btn btn-secondary" style="margin:11px;">Logout</button></a>
</div>