<h1 class="mt-4">Report Generated</h1>
<p class="lead mb-3">Patient Name: <%= patientname %></p>
<embed src="<%= flnm %>.pdf" width="1100px" height="700px" />
<a href="/finish" class="btn btn-secondary">Finish</a>
<a href="/dashboard" class="btn btn-secondary">Back</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
