<p></p>
<p></p>
<p></p>
<br>
<h1 style="text-align:left;display: inline;padding-left: 500; margin-top: 10px; padding-top: 20;">Osteoarthritis Checkup System</h1>
<p></p>
<p></p>
<div class="welcome-page" style="margin:100px;">
  <div class="form">
  <h3 class="btn btn-secondary btn-block">Create an Account or Login</h3>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"><button style="margin:11px;">Register</button></a>
      <a href="/users/login" class="btn btn-secondary btn-block"><button style="margin:11px;">Login</button></a>
    </div>
  </div>